* {
  font-weight: 600;
}
#root {
  background-color: #b0dbff;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.link {
  color: blue;
}
.btn {
  color: white;
  font-size: 15px;
  font-weight: 900;
}
